:root {
 --accent-color: orange;
 --header-font-size: 4rem;
 --card-image-scale: 10rem;
 --company-image-margin: 10px;
 --left-about-card-width: 25%;
 --card-side-margin: 5%;
 --section-padding: 7.5%;
 --project-card-hover-size: 0%;
}

html {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: Inter Tight;
    background-color: black;
}

.blur {
  backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, .00002);
}

.fullscreen {
  width: 100%;
  height: 100%;
}
.nav-header {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: inherit;
  top: 0;
}

nav {
  position: relative;
  float: right;
  margin-right: 5%;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li > a {
  text-decoration: none;
  color: var(--accent-color);
}

.li-a:hover {
  color: whitesmoke;
  transition: all .5s;
}

.nav-li {
  display: inline;
  padding: 5px 10px;
}

.hamburger {
  width: inherit;
  height: inherit;
}

.rectangle {
  width: 60%;
  height: 5%;
  background-color: white;
  opacity: .75;
  border-radius: 10%;
  position: relative;
  left: 20%;
}

.top {
  top: 26%;
}

.middle {
  top: 43%;
}

.bottom {
  top: 60%;
}

.nav-collapsed {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  text-align: center;
  display: none;
  width: 50px;
  height: 50px;
  border-radius: 25%;
  margin-right: .5%;
  margin-top: .5%;
}

.collapsed {
  display: block;
}

.lightbulb {
  width: 1.25rem;
  background-color: var(--accent-color);
  border-radius: 50%;
  position: relative;
  top: .08rem; /*This solution is weird. Space generates between the text and the top based on the largest character which is usually something like E or A with an accent.
             The text is centered by other content flows to the top point of this so we have to move the image to center it witht the text*/
}

.lightbulb:hover {
  background-color: white;
  transition: all .5s;
}

.nav-collapsed:focus-within > .nav {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s;
  transition: opacity 2s;
}

.nav-collapsed:focus-within > .hamburger {
  display: none;
}

.nav {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  width: max-content;
}

.nav-collapsed:focus-within {
  width: max-content;
  height: max-content;
  border-radius: 0;
}

.hamburger:hover {
  cursor: pointer;
}

Section.landing {
    display: block;
    margin: 0;
    background-image: url(images/pexels-goumbik-917463.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h1 {
    font-weight: 300;
    font-size: var(--header-font-size);
    margin: 0;
}

.center {
  /* Center in the middle of the screen*/
  position: absolute;
  inset: 0;   /* inset is the more modern shorthand of top, right bottom left */
  margin: auto;
  height: max-content; /* Max height and width set to content keeps the div from expanding too far */
  width: max-content;
}

.name-title {
  display: inline-block;
  font-family: Inter Tight;
  font-weight: 300;
  font-size: var(--header-font-size);
}
  
.typewriter {
  overflow: hidden;
  border-right: .05em solid transparent;
  white-space: nowrap;
  animation: 
    typing 1s steps(20, end),
    blinking 1s 3;
  margin: 0;
  text-align: center;
  height: max-content;
  width: max-content;
}


.typewriter-second {
  overflow: hidden;
  border-right: .05em solid rgb(168, 167, 164);
  white-space: nowrap;
  animation:
    typing 1s steps(20, end) 3s,
    blinking 1s infinite,
    hiding 3s; /*Using this as a pure CSS way of sequencing animations*/
  width: 0;
  margin: 0;
  text-align: center;
  height: max-content;
  width: max-content;
}

@keyframes hiding {
  from {visibility: hidden;}
  to {visibility: hidden;}
}
  
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blinking {
  from { border-color: transparent; }
  to { border-color: var(--accent-color); }
}

section {
  opacity: 0;
  scale: .1;
  animation: about-scroll linear forwards;
  animation-timeline: view();
  animation-range-start: entry;
  animation-range-end: 500px;
}

@keyframes about-scroll {
  to { opacity: 1; 
      scale: 1;}
}

.about {
   background-color: rgb(206, 203, 196);
   min-height: 100vh;
   height: max-content;
}

.about-cards {
  --about-cards-margin: 7.5%;
  width: calc(100% - 2 * var(--about-cards-margin));
  height: inherit;
  padding: 6% var(--about-cards-margin) 0 ;
}

.headers {
  border-bottom: 10px solid;
  border-color: gray;
  width: fit-content;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 10%;
  padding-bottom: 15px;
  margin-left: 0%;

  transform-origin: left;
  opacity: 0;
  scale: .4;
  animation: header-scroll linear forwards;
  animation-timeline: view();
  animation-range-start: entry;
  animation-range-end: 500px;
}

@keyframes header-scroll {
  to { opacity: 1; 
       margin-left: 5%;
      scale: 1;}
}

.section-header {
  width: fit-content;
  text-align: right;
  margin: 0 ;
  font-weight: 800;
  display: inline;
}

.parenthesis {
  border-radius: 20%;
  border-left: 10px solid;
  border-right: 10px solid;
  border-color: var(--accent-color);
  padding: 0 10px;
}

.company-card {
  display: inline-block;
  margin-top: 5%;
  font-size: 1.5rem;
}

.left {
  text-align: center;
  vertical-align: top;
  width: var(--left-about-card-width);
  margin-right: var(--card-side-margin);
}

.left > p {
  text-align: center;
}

.right {
  padding-left: var(--card-side-margin);
  height: fit-content;
  width: calc(100% - var(--left-about-card-width) - (2 * var(--card-side-margin)) - 6px);
  border-left: 2px solid;
  border-color: var(black);
}

.about-image {
  border-radius: 100%;
  height: var(--card-image-scale);
  width: var(--card-image-scale);
}

.job-title {
  margin-top: 10px;
  margin-bottom: 2px;
}

.work {
  margin: 0;
}

.company {
  margin-bottom: 10px;
  width: 100%;
  height: 100%;


}

.left-animation {
  padding-left: 1000px;
  animation: company-left linear forwards;
  animation-timeline: view();
  animation-range-start: entry;
  animation-range-end: 250px;
  opacity: 0;
}

@keyframes company-left {
  to {
    opacity: 1;
    padding-left: 0;
  }
}

.company-image {
  height: var(--card-image-scale);
  width: var(--card-image-scale);
  border-radius: 15%;
  margin-right: var(--company-image-margin);
  display:inline-block;
  vertical-align: middle;
}


.company-info {
  display:inline-block;
  /* I think the 6px below is whitespace fluff from the font but not entirely sure */
  width: calc(100% - var(--card-image-scale) - var(--company-image-margin) - 6px); 
  margin: 0px;
  vertical-align:middle;
  clear: right;
}

.middle-img {
  margin-right: 0;
  margin-left: var(--company-image-margin);
}

.middle-block {
  display: none;
}

.projects {
  background-color: #cac5ae;
  /* background: repeating-radial-gradient(circle at 100% ,#333 10%, #eee 20%, #333 30%); */
  /* background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%); */

  min-height: 100vh;
  height: max-content;
  color: black;
}

.projects-container {
  width: calc(100% - 2 * var(--section-padding));
  height: inherit;
  padding: 6% var(--section-padding) 0;
}

.project-header {
  text-align: right;
  border-color: black;
}

.project-cards {
  margin: 0 auto;
  width: calc(100% - 2 * 5%);
  height: 100%;
  text-align: center;
}



.project-card {
  --project-card-border-radius: 2%;
  --project-card-margin: 3%;
  --project-card-padding: 2%;
  display: inline-block;
  margin: var(--project-card-margin);
  width: calc(28% - 2 * var(--project-card-margin) - 2 * var(--project-card-padding) - var(--project-card-hover-size));
  text-align: center;
  text-decoration: none;
  border-radius: var(--project-card-border-radius);
  /* border: darkgray 1px solid; */
  /* background: linear-gradient(90deg, rgb(82, 94, 99) , rgb(83, 91, 94)); */
  background-color: rgb(96, 107, 119);
  padding: var(--project-card-padding);
  color: var(--accent-color);
  box-shadow: 0px 0px 10px var(--accent-color), 0px 0px 5px var(--accent-color);
}

.project-card:hover {
  font-size: 1.25rem;
  --project-card-hover-size: 5%;
  transition: all 1s;
  background: linear-gradient(45deg, rgb(80, 89, 99), white);
  color: black;
  width: calc(28% - 2 * var(--project-card-margin) - 2 * var(--project-card-padding) + var(--project-card-hover-size));
}

.project-description {
  margin: 1%;

  padding-top: 4%;
}

.project-image {
  width: 100%;
  border-radius: var(--project-card-border-radius);
  border: var(--accent-color) 1px solid;
}

@media screen and (max-width: 1500px) {
  .name-title
  {
    display: inline;
  }

  @keyframes hiding {
    from {display: none;}
    to {display: none;}
  }
}

@media screen and (max-width: 1100px) {

  .right {
    padding-left: 3%;
    margin-left: 2%;
  }

  .left > p {
    margin-left: 25%;
  }

  .project-card {
    font-size: .75rem;
  }
}

@media screen and (max-width: 875px)
{
  .headers {
    text-align: center;
    margin: 0 auto;
  }

  .card {
    display: block;
    margin: 50px auto;
  }

  .left, .right {
    width: fit-content;
  }

  .left > p {
    margin-left: 0;
  }

  .right {
    border-left: 0;
    border-top: 2px solid;
    border-color: var(black);
    padding-left: 0;
    padding-top: var(--card-side-margin);
    padding-bottom: 5%;
  }

  .company {
    margin-bottom: 30px;
  }

  .company-image {
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .company-image, .company-info, .middle-block {
    display: block;
  }
  
  .middle-inline {
    display: none;
  }

  .company-info {
    width: fit-content;
    text-align: center;
  }

  .projects-container {
    padding-bottom: 5%;
  }

  .project-card {
    display: block;
    width: fit-content;
    margin-bottom: 30px;
  }

  .nav-header {
    display: none;
  }

  .nav-collapsed {
    display: inline;
  }

}

@media screen and (max-width: 775px) {
  .name-title, h1 
  {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 675px) {
  .name-title, h1 
  {
    font-size: 3rem;
  }
}

@media screen and (max-width: 575px) {
  .name-title, h1 
  {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 475px) {
  .name-title, h1 
  {
    font-size: 2rem;
  }
}

@media screen and (max-width: 375px) {
  .name-title, h1 
  {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 275px) {
  .name-title, h1 
  {
    font-size: 1rem;
  }
}

@media screen and (max-width: 175px) {
  .name-title, h1 
  {
    font-size: .5rem;
  }
}

@media screen and (max-width: 75px) {
  .name-title, h1 
  {
    font-size: .25rem;
  }
}
